* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

:root{
    --black:#000;
    --white: #FFD700;
    --lightgrey:#f1f1f1;
    --darkblue:#000000;
    --primarycolor:#f2da3d;
    --secondarycolor:#f5ef56;
    --lightDark:#252408;
    --darkText:#aeb483;
 }

body{
    background-color: var(--black);
}
.app{
    background-color:var(--lightDark);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1 {
    font-size: 25px;
    color: var(--white);
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom:  30px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: var(--primarycolor);
    font-weight: 600;
}

.btn{
    background-color: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background-color: #222;
    color: white;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background-color: var(--darkblue);
    color: white;
    font-weight: 500;
    padding: 10px;
    margin: 20px auto;
    width: 150px;
    border-radius: 4px;
    display: none;
    cursor: pointer;   
}

.correct{
    background-color: rgb(29, 195, 29);
}

.incorrect {
    background-color: red;
}

#homedirect, #leaderboard {
    background-color: var(--darkblue);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    margin: 10px;
}

.btn:hover, #next-btn:hover, #homedirect:hover, #leaderboard:hover {
    background-color: var(--white);
}

#homedirect, #leaderboard {
    display: inline-block;
}

#homedirect{
    margin-right: 20px;
}